@media print {
    body {
        background: white;
    }
    
    button {
        display: none
    }
    
    video {
        display: none
    }
    
    .videoModal{
        display:none
    }
}
