@media print {
    body {
        background: white;
    }
     // Hiding youtube trailer from print
    button {
        display: none
    }
    
    video {
        display: none
    }

    .videoModal{
        display:none
    }
}
